<div style="margin:20px;">
<h1 class="rsp-home-header">
    Home2
</h1>

<a ng-href="/currentOfferings" ng-click="$ctrl.open($event)">Test Link</a>

<div>
    <input type="text" ng-model="$ctrl.searchObj.name.value" style="width:200px;" ng-change="$ctrl.search($ctrl.searchObj.name)" placeholder="Name" />
    <input type="text" ng-model="$ctrl.searchObj.company.value" style="width:200px;" ng-change="$ctrl.search($ctrl.searchObj.company)" placeholder="Company" />
    <button ng-click="$ctrl.toggle()">Toggle Company Column</button>
</div>

<table id="grdInvGoal">
    <tr>
        <td></td>
        <td><a ng-click="$ctrl.setGoal(['1','4','7'])">Growth</a></td>
        <td><a ng-click="$ctrl.setGoal(['2','5','8'])">Income</a></td>
        <td><a ng-click="$ctrl.setGoal(['3','6','9'])">Growth+Income</a></td>
    </tr>
    <tr>
        <td><a ng-click="$ctrl.setGoal(['1','2','3'])">Full Protection</a></td>
        <td><input type="checkbox" ng-model="$ctrl.invGoal.value[1]" id="cbIg1" name="cbIg1" ng-click="$ctrl.invGoalChange()"/><label for="cbIg1"></label> {{ $ctrl.invGoal["1"] }} results</td>
        <td><input type="checkbox" ng-model="$ctrl.invGoal.value[2]" id="cbIg2" name="cbIg2" ng-click="$ctrl.invGoalChange()"/><label for="cbIg2"></label> {{ $ctrl.invGoal["2"] }} results</td>
        <td><input type="checkbox" ng-model="$ctrl.invGoal.value[3]" id="cbIg3" name="cbIg3" ng-click="$ctrl.invGoalChange()"/><label for="cbIg3"></label> {{ $ctrl.invGoal["3"] }} results</td>
    </tr>
    <tr>
        <td><a ng-click="$ctrl.setGoal(['4','5','6'])">Half Protection</a></td>
        <td><input type="checkbox" ng-model="$ctrl.invGoal.value[4]" id="cbIg4" name="cbIg4" ng-click="$ctrl.invGoalChange()"/><label for="cbIg4"></label> {{ $ctrl.invGoal["4"] }} results</td>
        <td><input type="checkbox" ng-model="$ctrl.invGoal.value[5]" id="cbIg5" name="cbIg5" ng-click="$ctrl.invGoalChange()"/><label for="cbIg5"></label> {{ $ctrl.invGoal["5"] }} results</td>
        <td><input type="checkbox" ng-model="$ctrl.invGoal.value[6]" id="cbIg6" name="cbIg6" ng-click="$ctrl.invGoalChange()"/><label for="cbIg6"></label> {{ $ctrl.invGoal["6"] }} results</td>
    </tr>
    <tr>
        <td><a ng-click="$ctrl.setGoal(['7','8','9'])">No Protection</a></td>
        <td><input type="checkbox" ng-model="$ctrl.invGoal.value[7]" id="cbIg7" name="cbIg7" ng-click="$ctrl.invGoalChange()"/><label for="cbIg7"></label> {{ $ctrl.invGoal["7"] }} results</td>
        <td><input type="checkbox" ng-model="$ctrl.invGoal.value[8]" id="cbIg8" name="cbIg8" ng-click="$ctrl.invGoalChange()"/><label for="cbIg8"></label> {{ $ctrl.invGoal["8"] }} results</td>
        <td><input type="checkbox" ng-model="$ctrl.invGoal.value[9]" id="cbIg9" name="cbIg9" ng-click="$ctrl.invGoalChange()"/><label for="cbIg9"></label> {{ $ctrl.invGoal["9"] }} results</td>
    </tr>
    
</table>

<div style="margin-top:20px;" class="rsp-qv-wrapper">
<div style="margin:10px 0 10px 0;">
    {{$ctrl.data.length}} Records
</div>

<rsp-quick-view bulk-items="$ctrl.selectedDeals" detail-item="$ctrl.selectedDeal" on-bulk-remove="$ctrl.removeDeal(id)"></rsp-quick-view>

 <table id="table1" class="rsp-table" style="width:100%">
<thead>
<tr>
    <th style="width:45px;"></th>
<th style="width:200px;">Name</th>
<th>Company</th>
<th>Gender</th>
<th>Protection</th>
<th>Goal</th>
</tr>
</thead>
<tbody>
<tr id="row{{:: $id}}" ng-repeat="item in $ctrl.data" ng-click="$ctrl.view(item,$event)">
<td><input type="checkbox" id="cb{{:: $id}}" name="cb{{:: $id}}" ng-click="$ctrl.select(item,$event, $id)"/><label for="cb{{:: $id}}"></label></td>
<td>{{:: item.name}}</td>
<td>{{:: item.company}}</td>
<td>{{:: item.gender}}</td>
<td>{{:: item.protection}}</td>
<td>{{:: item.goal}}</td>
</tr>
</tr>
<tbody>
</table>
</div>
</div>