.rsp-home-header {
    color: darkred;
}

.ui-grid, .ui-grid-viewport {
    height: auto !important;
}

.rsp-table {
    table-layout: fixed;
    border: 1px solid #bbb;
    border-collapse: collapse;
}

.rsp-table tr {
    height:48px;
    cursor: pointer;
}

.rsp-table tr:hover {
    box-shadow: 0 1px 8px 0 rgba(0,0,0,.2), 0 3px 4px 0 rgba(0,0,0,.14), 0 3px 3px -2px rgba(0,0,0,.12);
}

.rsp-selectedRow {
    background: lightblue;
}

.rsp-table td {
    border: 1px solid #bbb;
    padding: 0 10px;
}

.rsp-table th {
    border: 1px solid #bbb;
    padding: 0 10px;
    background-color: #aaa;
}

#grdInvGoal {
    border-collapse: collapse;
    margin-top: 10px;
    margin-bottom: 10px;
}

#grdInvGoal td {
    border: 1px solid #bbb;
    padding: 5px;
    text-align: center;
}

#grdInvGoal tr:first-child td:first-child {
    border-top: none;
    border-left: none;
}